name: MegaLinter

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  megalinter:
    name: MegaLinter
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: MegaLinter
        uses: oxsecurity/megalinter/v8@latest
        env:
          VALIDATE_ALL_CODEBASE: false
          DEFAULT_BRANCH: main
