name: Super-Linter

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  super-lint:
    name: Lint code base
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Super-Linter
        uses: super-linter/super-linter@v8.5.0
        env:
          VALIDATE_ALL_CODEBASE: false
          DEFAULT_BRANCH: main
